# App URL
APP_URL=

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://jgcywdougpdkrmrijsmi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpnY3l3ZG91Z3Bka3Jtcmlqc21pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcwNDg3ODksImV4cCI6MjA5MjYyNDc4OX0.Nip7DY54LMuyQzQQ_2LNw7PTB78sxobq794DGZUZ2m4